benchintersection
benchsearch
bitpacking.o
budgetedtest
compflatstat
compress
entropy
*.o
simplesynth
testcodecs
testintegration
uncompress
unit
*.a

Gen/x64/Debug
msvc/SIMDCompressionAndIntersection.VC.db
*.vspx
msvc/SIMDCompressionAndIntersection.VC.db
*.VC.db
msvc/SIMDCompressionAndIntersection.VC.db
*.db
Gen/x64/Release/*
